.box{
    width: 400px;
    height: 400px;
    border: 10px solid green;
    margin: 100px auto;
    position: relative;
    animation: squre 2s infinite forwards;
}
.circle{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin: 100px auto;
    display: flex;
    animation: circle 2s  infinite forwards;
}
@keyframes squre{
    0%{border-color: rgb(255, 71, 89); transform: scale(1);}
    25%{border-color: rgb(172, 107, 95);transform: scale(.75);}
    50%{border-color: rgb(99, 71, 255);transform: scale(.50);}
    75%{border-color: rgb(35, 36, 81);transform: scale(.25);}
    100%{border-color: rgb(71, 255, 138);transform: scale(.25);}
    50%{border-radius: 25%;transform: scale(.5);}
    100%{border-radius: 50%;transform: scale(.25);}
}
@keyframes  circle {
    25%{border: 5px solid  green;}
    50%{ border-color: yellow;}
    75%{border-color: red;}
    100%{border-color: gray;}
    50%{border-radius: 25%; transform: rotate(-360deg);}
    100%{border-radius: 50%;transform: rotate(-360deg);}
}